.ContestPreview {
    margin: 1em;
    border: 1px solid #ccc;


    .category-name{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }

    .contest-name {
        padding:0.5em;
    }
}

.App{
    padding: 0.25em 0.5em;
}

.Header{
    font-size: 30pt;
    font-weight: bold;
}

.Panel{
    margin: 1em;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #eeee;
    font-size: 16pt;

    .Panel-Header{
        padding: 0.25em 0.5em;
    }

    .DataPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
    .ControlPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
    .GraphPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
}

.link {
    cursor: pointer;
}

.home-link{
    margin-top: 1em;
    color: #0000ee;
}