.ContestPreview {
    margin: 1em;
    border: 1px solid #ccc;


    .category-name{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }

    .contest-name {
        padding:0.5em;
    }
}

.container{
    width: 100%;
    background-color: rgba(179,220,237,1);
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,185,229,1) 100%);
}

.App{
    padding: 0.25em 0.5em;
}

.Header{
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 2px 2px #cdcda7, -2px -2px white;
}

.Footer{
    opacity: 0.5;
    margin: 1em;
    border: 2px solid #cdcda7;
    background-color: #fff9e6;
}

.Panel{
    margin: 1em;
    border: 2px solid #cdcda7;
    text-align: center;
    background-color: #fff9e6;
    font-size: 16pt;

    .Panel-Header{
        padding: 0.25em 0.5em;
        font-weight: bold;
        text-shadow: 1px 1px lightblue;
    }

    .DataPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
    .ControlPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
    .GraphPanel{
        border-bottom: 1px soid #ccc;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
}

.link {
    cursor: pointer;
}

.home-link{
    margin-top: 1em;
    color: #0000ee;
}